[general]
LOG_LEVEL=DEBUG
STACKOVERFLOW_TOKEN=vault:secret/services/DevOpsBot#STACKOVERFLOW_TOKEN
jenkins_user=vault:secret/services/devops_bot_lambda/jenkins#core_user
jenkins_api_token=vault:secret/services/devops_bot_lambda/jenkins#core_api_token
GITHUB_TOKEN=vault:secret/services/DevOpsBot#GITHUB_TOKEN
SLACK_BOT_TOKEN=vault:secret/services/DevOpsBot#SLACK_BOT_TOKEN
